.login {
  background-image: url('../../../src/assets/images/login.png');
  background-position: center center;
  background-size: cover;
  height: 90vh;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
}
h2 span {
  background-color: #CE1632;
}
.form-control {
  box-shadow: 4px 16px 25px 20px rgba(0, 0, 0, 1);
  background-color: #171717;
  border: none;
  // height: 50px;
  color: white;
}

.btns a{
  text-decoration: none;
}
.btn {
  background-color: #CE1632;
  border: #CE1632 1px solid;
}
.register{
  cursor: pointer;
  color: #CE1632;
}
.register:hover{
  text-decoration: underline;
}

form{
  width: 50%;
}
@media screen and (max-width:992px){
  form{
    width: 100%;
  }
  .btns{
    display: block !important;
    text-align: center;
  }
  .btn{
    width: 100%;
    float: none !important;
    margin: 10px 0px !important;
  }
}
