<div class="container-fluid px-5 py-5">
  <h2 class="section-title text-white text-center">Movi<span>es</span></h2>
  <div class="row">
    <div *ngFor="let movie of popularMovies" class="col-lg-3">
      <div [routerLink]="['/mediaDetails', movie.id]"  class="movie my-4">
        <img [src]="posterPath+movie?.poster_path" class="img-fluid">
        <div class="overlay p-4">
          <h3 class="movie-title">{{movie?.original_title}}</h3>
          <p class="release-date">{{movie?.release_date}}</p>
          <p class="vote-average"><i class="fa fa-star"></i> {{movie?.vote_average}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <span *ngFor="let page of pagination" class="page-number p-2 mx-2 rounded text-white text-center">{{page}}</span>
  </div>
</div>

