.popular-movies{
  background-color: #CE1632;
  box-shadow: 4px 16px 25px 10px rgba(0, 0, 0, 1);
}
.now-playing-movies{
  background-image: url("https://media.giphy.com/media/QVm5j2lkL8QYXhBXfr/giphy.gif");
  // background-image: url("../../assets/images/giphy.gif");
  background-position: 100% 100%;
  background-size: cover;
}
