.tv-item{
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.overlay{
  background-color: rgba($color: #000000, $alpha: 0.9);
  position: absolute;
width: 100%;
height: 100%;
top: 100%;
left: 0;
color: white;
transition: 0.5s;
}
.tv-item:hover .overlay{
top: 0;
}
